:root {
  /* --color1: #E9D5CA;
  --color2: #827397;
  --color3: #4D4C7D;
  --color4: #363062; */

  /* --color1: #C4BBF0;
  --color2: #927FBF;
  --color3: #4F3B78;
  --color4: #363B4E; */

  /* coffee theme */
  --color1: #E79E4F;
  --color2: #A05344;
  --color3: #734046;
  --color4: #321F28;
  

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
